body {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
    background-color: aliceblue;
}

ul li {
    display: flex;
    justify-content: center;
}

#addTask {
    background-color: rgb(0, 0, 70);
    color: aliceblue;
}

h1 {
    background-color: white;
    margin-left:425px;
    margin-right:425px ;
    box-shadow: 0px 2px 0px black;
}

#Text_list {
    border: none;
    border-radius: 3px;
}

li {
    background-color: rgb(93, 120, 138);
    margin-left:425px;
    margin-right:425px;
    padding: 5px 5px 5px;
    border-top:  black;
    color: aliceblue;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.task-text {
    cursor: pointer;
}

.completed {
    text-decoration: line-through; 
    color: rgb(0, 0, 0);
}

.delete-btn {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

